@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400|Raleway');

@font-face {
    font-family: "Dense";
    src: url('../fonts/Dense-Regular.otf');
}

body{
    margin: 0;
    overflow-x: hidden;
}

/* == Header Styles === */
header{
    color: #fff;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    text-align: center;
} 
button{
    background:  rgb(252, 190, 58);
    color: rgb(51, 35, 5);
    border-radius: 20px;
    font-size: 1.1rem;
    border: none;
    margin-top: 20px;
    width: 200px;
    padding: 10px 20px;
}
.overlay-content{
    z-index: 2;
    text-align: left;
}
.overlay-content h1{
    color: #fff;
    font-size: 4.43rem;
    font-family: Dense, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}

/* === Header Video Background Styles === */

.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

.video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#533c35, #000);
    opacity: 0.4;
    z-index: 1;
}

/* === Nav Styles === */
nav{
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(100, 57, 45);
    display: flex;
    align-items: center;
    width: 100vw;
}
#title-icon-wrap::after{
    content: "Top Shop Café";
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    width: 120px;
}
#title-icon-wrap{
    display: flex;
    align-items: center;
    margin: auto;
}
#nav-container{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    align-items: center;
    margin-right: 15px;
}
ul li{
    padding: 0 10px;
}
ul{
    list-style-type: none;
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    display: block;
}
.nav-link{
    font-size: 0.9rem;}

#social{
    font-size: 1.1rem;
}
.icon{
    display: none;
}

/* ===Nav Logo Style === */
#icon-wrap{
    background-color: #fff;
    display:flex;
    width: 40px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    margin: 10px 10px;
}
#header-img{
    width: 50%;
}


/* === Main Styles === */

main{
    background-color: #fff;
    height: auto;
    
}

section {
    padding: 130px 0;
}

.section-a {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* === Live Coffee Section === */

#live-Coffee-Section{
    background: url("./img/country-quilt.png");
}


.section-a div{
    width: 40%;
    background: #fff;
    border-radius: 20px;
    margin: 20px;
    border: 1px solid rgb(252, 190, 58);
    padding: 20px;
}

#liveCoffee-video-wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    
 
}

#video{
    width: 100%;
    height: auto;
}






/* === About Section === */

#about article{
    width: 300px;
    padding: 50px;
    margin: 10px;
    background: #fff;
    border-radius: 20px;
}

.menu-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.menu-wrap h3{
    text-align: left;
    color: rgb(252, 182, 31);
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
}

.menu-wrap h3::after{
    content: "$4";
    text-align: right;
    color: rgb(39, 29, 6);
}

.section-b{
    background: rgb(224, 224, 224);
}




/* === Pics Section === */
#pics img{
    width: 400px;
    height: 300px;
}

#pics div div img{
    margin: 0;
}

#pics{
    background: url("./img/halftone-yellow.png");
}



/* ====== Media Queries ====== */

/* === Desktop === */
@media (max-width: 960px)
{
    /*.container{
        padding-right: 3rem;
        padding-left: 3rem;
    }*/

}

/* === Laptop, Desktop === */
@media screen and (min-width: 768px) {
    #nav-container{
        display: flex !important;
    }

     /* === Pics Section === */

#pics div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#pics div{
    width: 100%;
    height: auto;
}


}

/* == Tablets, cellphones etc == */
@media only screen and (max-width: 768px) {
    .overlay-content{
        text-align: center;
        margin: auto;
        
    }

     .overlay-content h1{
        font-size: 4.43em;
    }

    /* === Nav Styles === */
    .icon{
        display: block;
        color: #fff;
        margin-right: 30px;
        font-size: 25px;
        padding: 5px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .icon:hover{
        color: rgb(252, 190, 58);
    }
    nav{
        flex-direction: column;
        background: rgba(100, 57, 45, 0.8);
    }

    #nav-container{
        display: none;
        flex-direction: column;
    }

    .nav-link{
        margin: 10px;
        width: 100vw;
        padding:10px;
        font-size:1.1rem;
    }

    .nav-link:hover{
        background: rgb(252, 190, 58);
    }
    
    #link{
        flex-direction: column;
    }

    #social{
        background: rgb(252, 190, 58);
        width: 100vw;
        margin: 0;
        padding: 10px;
        justify-content: center;   
    }

    #social a{
        color: rgb(51, 35, 5);
        font-size: 1.3rem;
        margin: 0 10px;
    }


/* === Live Coffee Section === */
.section-a div{
    width: 100%;
}


 /* === Pics Section === */
#pics div img{
    width: 100%;
    height: auto;
}
#pics div{
    display: flex;
    flex-direction: column;
    align-items: center;   
}


}



